@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --highlight: #30E3CA;
  --accent: #11999E;
  --text-primary: #40514E;
  --ui-background: #E4F9F5;
  --ui-primary: #FEFEFE;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}